upload/testsnap/98e6a40e05a8334dd7a43901d08a068e_erie1.snap.pax.Z_AIX/general/ikedb.dtd

<?xml version='1.0'?>


<!-- ============ This is version 2.0 of this DTD. ============ -->

<!-- ======================= AIX_VPN =============================
     AIX_VPN is the root element. It can contain any combination 
     of IKEProtection, IKEGroup, IKEPresharedKey, 
     IKETunnel, IPSecProposal, IPSecProtection, IPSecTunnel.  

     This root has one attribute: a DTD version number, so that ikedb
     can recognize older versions of users' XML files.  This number
     is optional (#IMPLIED) for now to retain backward compatibility.
     In subsequent releases, this attribute will be #REQUIRED.
-->
<!ELEMENT AIX_VPN ((IKEProtection | IKEGroup | IKETunnel |
                    IKEPresharedKey | IPSecProposal | 
                    IPSecProtection | IPSecTunnel)+)>   
<!ATTLIST AIX_VPN
       Version CDATA #IMPLIED
>

<!-- ==================== IKEProtection =========================
     IKEProtection. Contains a list of IKETransforms.
     The IKE_IPSecDefaultAllowedTypes field specifies which id 
     types will be allowed to use a default protection. This field
     should be entered as a space seperated list where a valid
     entry can contain any combination of the following tokens: 
     Local_IPV4_Address, Local_IPV6_Address, Local_IPV4_Subnet,
     Local_IPV6_Subnet, Local_IPV4_Address_Range,
     Local_IPV6_Address_Range, Remote_IPV4_Address,
     Remote_IPV6_Address, Remote_IPV4_Subnet, Remote_IPV6_Subnet,
     Remote_IPV4_Address_Range, and Remote_IPV6_Address_Range.
-->
<!ELEMENT IKEProtection (IKETransform+)>
<!ATTLIST IKEProtection 
       IKE_ProtectionName ID #REQUIRED 
       IKE_Role (Initiator | Responder | Both | Neither) "Both"
       IKE_XCHGMode (Main | Aggressive | None) "Main"
       IKE_Version (1 | 2) "1"
       IKE_KeyOverlap     CDATA "5"
       IKE_Flags_UseCRL (Yes | No) "No"
       IKE_ResponderKeyRefreshMaxMinutes CDATA "480"
       IKE_ResponderKeyRefreshMinMinutes CDATA "15" 
       IKE_ResponderKeyRefreshMinKB      CDATA #IMPLIED
       IKE_ResponderKeyRefreshMaxKB      CDATA #IMPLIED
       IKE_IPSecDefaultProtectionRef     IDREF #IMPLIED
       IKE_IPSecDefaultAllowedTypes      CDATA #IMPLIED
>

<!-- ===================== IKETransform ==========================
     IKETransform. A list of these will be used for Phase 1 SA 
     Negotiations.
-->
<!ELEMENT IKETransform EMPTY>
<!ATTLIST IKETransform
       IKE_AuthenticationMethod (Preshared_key | RSA_signatures |
                                 ECDSA256_signatures) "Preshared_key"
       IKE_PRF (PRF_HMAC_MD5 | PRF_HMAC_SHA1 | PRF_AES_XCBC |
                  PRF_SHA2_256 | NONE) "NONE"
       IKE_Encryption (DES-CBC | 3DES-CBC | AES-CBC-128 | 
                     AES-CBC-192 | AES-CBC-256) "AES-CBC-192" 
       IKE_Hash (SHA | MD5 | AES_XCBC | SHA2_256) "SHA" 
       IKE_DHGroup (1 | 2 | 5 | 14 | 19 | 24) "2"
       IKE_KeyRefreshMinutes CDATA "480"
>

<!-- ======================== IKEGroup ===========================
     IKEGroup. As the name suggests, the IKEGroup can contain 
     multiple IDs.  The purpose of IKEGroup is to allow same 
     protections and policies to be shared by multiple ids.
-->
<!ELEMENT IKEGroup (IKEID+)>
<!ATTLIST IKEGroup
            IKE_GroupName ID #REQUIRED
>
            
<!-- ======================== IKEID ==============================
     IKEID, the group ID type, includes ID types that can be used 
     by both phase 1 and phase 2 tunnels.  However, not all of 
     these ID types are valid in both phases.  Phase 1 can use 
     ASN1_DN, FQDN, User_FQDN, and KEYID.  Phase 2 can use 
     IPV4_Subnet, IPV6_Subnet, IPV4_Address_Range, and 
     IPV6_Address_Range.  Both phases can use 
     IPV4_Address and IPV6_Address.  The protocol and port 
     attributes are only valid in phase 2.
     Some of the most commonly used protocols are:
     Protocol Name      Protocol Number
      IP                  0
      ICMP                1
      IGMP                2
      TCP                 6
      UDP                17
     For more information on protocols and port numbers, refer to 
     /etc/protocols or rfc 1700 or http://www.iana.org/numbers.htm 
-->      
<!ELEMENT IKEID (ASN1_DN | FQDN | User_FQDN | IPV4_Address | 
                    IPV6_Address | KEYID | IPV4_Subnet | IPV6_Subnet |
                    IPV6_Address_Range | IPV4_Address_Range)>
<!ATTLIST IKEID
           Protocol CDATA "0"
           Port     CDATA "0"
>

<!-- ======================= IKETunnel ==========================
     IKETunnel. Defines the Phase 1 SA endpoints and
     the IKEProtection to be used for the negotiation. 
     Also called "Key Management Tunnel" in WSM.
-->            
<!--
     "MakeRuleWithOptionalIP" - this field specifies whether you 
     wish to put another entry in the rules list using the optional 
     IP address specified in the IKERemoteIdentity.  If set to No, 
     you can have more than one tunnel defined using the same 
     optional IP address; however, you will not be able to act as 
     a responder in a main mode negotiation with this tunnel.

     NOTE: If you specify an optional IP address for the 
     IKELocalIdentity when MakeRuleWithOptionalIP is No, the 
     optional IP address will be silently discarded as extraneous 
     information for that negotiation type.
-->
<!ELEMENT IKETunnel (IKELocalIdentity, IKERemoteIdentity)>
<!ATTLIST IKETunnel
      IKE_TunnelName ID  #REQUIRED
      IKE_ProtectionRef IDREF #REQUIRED
      IKE_Flags_MakeRuleWithOptionalIP (Yes | No) "No"
      IKE_Flags_AutoStart (Yes | No) "No"
>

<!-- ========== IKELocalIdentity & IKERemoteIdentity ============
     Defintion for the IDs 
-->            
<!ELEMENT IKELocalIdentity (ASN1_DN | FQDN | User_FQDN | 
                            IPV4_Address | 
                            IPV6_Address | KEYID |
                            IPV4_Subnet | IPV6_Subnet)> 
<!ELEMENT IKERemoteIdentity (ASN1_DN | FQDN | User_FQDN | 
                             IPV4_Address | IPV6_Address | KEYID | 
                             IPV4_Subnet | IPV6_Subnet |
                             IKEGroupRef)> 

<!-- ======================= ID Types ===========================
    The possible ID types. Some of these are valid for phase 1,
    some for phase 2, and some for both phases.
    Phase 1 supports:
      IPV4_Address, FQDN, 
      User_FQDN, ASN1, IKEGroup, IPV6_Address, KEYID
      IPV4_Subnet and IPV6_Subnet
    Phase 2 supports:
      IPV4_Address IPV4_Subnet, IPV4_Address_Range
      IPV6_Address, IPV6_Subnet, IPV6_Address_Range,
      IKEGroup
-->
<!ELEMENT IPV4_Address EMPTY> 
<!ATTLIST IPV4_Address 
             Value CDATA #REQUIRED
>
<!ELEMENT IPV4_Subnet EMPTY> 
<!ATTLIST IPV4_Subnet
            IPAddr  CDATA #REQUIRED
            IPV4_PrefixLength CDATA #REQUIRED
>
<!ELEMENT IPV4_Address_Range EMPTY>
<!ATTLIST IPV4_Address_Range
            From_IPAddr CDATA #REQUIRED
            To_IPAddr   CDATA #REQUIRED
>
<!ELEMENT IPV6_Address EMPTY>
<!ATTLIST IPV6_Address
            Value CDATA #REQUIRED
>
<!ELEMENT IPV6_Subnet EMPTY>
<!ATTLIST IPV6_Subnet
            IPV6_Addr CDATA #REQUIRED
            IPV6_PrefixLength CDATA #REQUIRED
>
<!ELEMENT IPV6_Address_Range EMPTY>
<!ATTLIST IPV6_Address_Range 
            From_IPV6_Addr CDATA #REQUIRED
            To_IPV6_Addr   CDATA #REQUIRED
>
<!ELEMENT FQDN (IPV4_Address | IPV6_Address)?>
<!ATTLIST FQDN 
           Value CDATA #REQUIRED
>
<!ELEMENT User_FQDN (IPV4_Address | IPV6_Address)?>
<!ATTLIST User_FQDN 
            Value CDATA #REQUIRED
>
<!ELEMENT ASN1_DN (IPV4_Address | IPV6_Address)?>
<!ATTLIST ASN1_DN 
            Value CDATA #REQUIRED
>
<!ELEMENT KEYID (IPV4_Address | IPV6_Address)?> 
<!ATTLIST KEYID
            Value CDATA #REQUIRED
>

<!-- ====================== IKEGroupRef ==========================
     IKEGroupRef. This will be used by the IKERemoteIdentity 
-->
<!ELEMENT IKEGroupRef EMPTY>
<!ATTLIST IKEGroupRef 
            IKE_GroupNameRef IDREF #REQUIRED
>
            
<!-- =================== IKEPresharedKey ========================
     Preshared key definition.
-->     
<!ELEMENT IKEPresharedKey (IKEPresharedRemoteID)>
<!ATTLIST IKEPresharedKey
      Format  (ASCII | Hex) "ASCII"
      Value   CDATA         #REQUIRED
>

<!-- =================== IKEPresharedRemotedID ==================
     ID definition for the Preshared key.
-->     
<!ELEMENT IKEPresharedRemoteID (PK_ASN1_DN | PK_FQDN | 
                                PK_User_FQDN | PK_IPV4_Address | 
                                PK_IPV6_Address | PK_KEYID |
                                PK_IPV4_Subnet | PK_IPV6_Subnet)>

<!-- =============== IDs for the Preshared keys =================
     Preshared key ID definition 
-->      
<!ELEMENT PK_IPV4_Address EMPTY> 
<!ATTLIST PK_IPV4_Address 
             Value CDATA #REQUIRED
>
<!ELEMENT PK_IPV4_Subnet EMPTY> 
<!ATTLIST PK_IPV4_Subnet
            IPAddr  CDATA #REQUIRED
            IPV4_PrefixLength CDATA #REQUIRED
>
<!ELEMENT PK_IPV6_Address EMPTY>
<!ATTLIST PK_IPV6_Address
            Value CDATA #REQUIRED
>
<!ELEMENT PK_IPV6_Subnet EMPTY> 
<!ATTLIST PK_IPV6_Subnet
            IPV6_Addr CDATA #REQUIRED
            IPV6_PrefixLength CDATA #REQUIRED
>
<!ELEMENT PK_FQDN EMPTY>
<!ATTLIST PK_FQDN 
           Value CDATA #REQUIRED
>
<!ELEMENT PK_User_FQDN EMPTY>
<!ATTLIST PK_User_FQDN 
            Value CDATA #REQUIRED
>
<!ELEMENT PK_ASN1_DN EMPTY>
<!ATTLIST PK_ASN1_DN 
            Value CDATA #REQUIRED
>
<!ELEMENT PK_KEYID EMPTY> 
<!ATTLIST PK_KEYID
            Value CDATA #REQUIRED
>

<!-- ================ IPSecProposal =============================
     IPSecProposal. Contains a list of IPSecESPProtocol and/or
     IPSecAHProtocol.
-->     
<!ELEMENT IPSecProposal ((IPSecESPProtocol | IPSecAHProtocol)+)>
<!ATTLIST IPSecProposal
       IPSec_ProposalName ID #REQUIRED
>

<!-- =================== IPSecESPProtocol =======================
     IPSecESPProtocol.
-->     
<!-- ESP_Authentication may be NONE only if ESP_Encryption is not 
     ESP_NULL.  
-->
<!ELEMENT IPSecESPProtocol EMPTY>
<!ATTLIST IPSecESPProtocol
       ESP_Encryption (ESP_DES | ESP_3DES | ESP_NULL | ESP_AES_128 |
           ESP_AES_192 | ESP_AES_256 | ESP_AES128_GCM_16 |
           ESP_AES192_GCM_16 | ESP_AES256_GCM_16 | ESP_AES128_GMAC |
           ESP_AES192_GMAC | ESP_AES256_GMAC) "ESP_AES_128" 
       ESP_Authentication (HMAC-MD5 | HMAC-SHA | CMAC-AES-XCBC | NONE) "HMAC-SHA"
       ESP_EncapsulationMode (Tunnel | Transport ) "Tunnel"
       ESP_KeyRefreshMinutes CDATA "60"
       ESP_KeyRefreshKB      CDATA #IMPLIED
       ESP_ExtendedSeqNum    (0 | 1) "0"
>

<!-- =================== IPSecAHProtocol ========================
     IPSecAHProtocol. Setting the AH_Authentication to AH_MD5 or
     AB_SHA will automatically use the HMAC version of the selected
     algorithm.
-->     
<!ELEMENT IPSecAHProtocol EMPTY>
<!ATTLIST IPSecAHProtocol
       AH_Authentication (AH_MD5 | AH_SHA | AH_AES_XCBC | AH_AES_128_GMAC |
				AH_AES_192_GMAC | AH_AES_256_GMAC) "AH_SHA"
       AH_EncapsulationMode (Tunnel | Transport ) "Tunnel"
       AH_KeyRefreshMinutes CDATA "60"
       AH_KeyRefreshKB      CDATA #IMPLIED
       AH_ExtendedSeqNum    (0 | 1) "0"
>

<!-- ================= IPSecProtection ==========================
     IPSecProtection. 
-->
<!ELEMENT IPSecProtection EMPTY>
<!ATTLIST IPSecProtection 
       IPSec_ProtectionName ID #REQUIRED 
       IPSec_ProposalRefs IDREFS #REQUIRED
       IPSec_Role (Initiator|Responder|Both|Neither) "Both"
       IPSec_KeyOverlap     CDATA "5"
       IPSec_Flags_UseCommitBit (Yes | No) "No"
       IPSec_Flags_UseLifeSize (Yes | No) "No"
       IPSec_InitiatorDHGroup  (0 | 1 | 2 | 5 | 14 | 19 | 24) "0"
       IPSec_ResponderDHGroup  CDATA "NO_PFS GROUP_1 GROUP_2 GROUP_5 GROUP_14 GROUP_19 GROUP_24"
       IPSec_ResponderKeyRefreshMaxMinutes CDATA "120"
       IPSec_ResponderKeyRefreshMinMinutes CDATA "1"
       IPSec_ResponderKeyRefreshMaxKB CDATA #IMPLIED 
       IPSec_ResponderKeyRefreshMinKB CDATA #IMPLIED
>

<!-- =================== IPSecTunnel =============================
     IPSecTunnel. Defines the Phase 2 endpoints and 
     IPSecProtection to be used for the negotiation. Also
     called the "Data Management tunnel" in WSM.

-->
<!ELEMENT IPSecTunnel (IPSecLocalIdentity, IPSecRemoteIdentity)>
<!ATTLIST IPSecTunnel
      IPSec_TunnelName ID #REQUIRED
      IKE_TunnelName IDREF #REQUIRED
      IPSec_ProtectionRef IDREF #REQUIRED
      IPSec_Flags_AutoStart (Yes | No) "No"
      IPSec_Flags_OnDemand  (Yes | No) "No"
>
      
<!-- =================== IPSecLocalIdentity =====================
     IPSecLocalIdentity. 
-->     
<!ELEMENT IPSecLocalIdentity (IPV4_Address | IPV6_Address | 
                              IPV4_Subnet | IPV6_Subnet | 
                              IPV4_Address_Range | 
                              IPV6_Address_Range)> 
<!ATTLIST IPSecLocalIdentity
          Protocol CDATA "0"
          Port CDATA "0"
          EndPort CDATA "65535"
>
          
<!-- =================== IPSecRemoteIdentity =====================
     IPSecRemoteIdentity.
-->     
<!ELEMENT IPSecRemoteIdentity (IPV4_Address | IPV6_Address | 
                               IPV4_Subnet | IPV6_Subnet | 
                               IPV4_Address_Range | 
                               IPV6_Address_Range | IKEGroupRef)>  
<!ATTLIST IPSecRemoteIdentity
          Protocol CDATA "0"
          Port CDATA "0"
          EndPort CDATA "65535"
>

<!--- ================ END OF DTD ===============================
-->
